@{
    ViewData["Title"] = "Admin View Pets";
}
@model CsharpProject.Models.Pet
<style>
    .doggo-image{
        width:256px;
        height:256px;
    }
</style>
<div class="text-center jumbotron">
    <h1 class="display-4">Manage Pets</h1>
</div>
<div class="header">
    <div class="header-right">
        <a href="/admin/new"class="add">Add a Pet</a>
    </div>
</div>
    
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Age</th>
            <th>Picture</th>
        </tr>
         </tr>
        <!-- want to create a row for each pet in our list of pets  -->
        @foreach (var pet in ViewBag.Pet)
        {
            <tr>
                <td><a href="@pet.PetId">@pet.PetName</a</td>
                <td>@pet.PetBreed</td>
                <td>@pet.PetAge</td>
                @{
                    var imgSrc = @pet.Image;
                    if (@pet.Image != null) {
                        var base64 = Convert.ToBase64String(@pet.Image);
                        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }

                }
                <td><img src="@imgSrc" class="doggo-image"/></td>
            </tr>
        }
    </table>
  